*{
	margin:0px;
	padding:0px;
}

ul{
	list-style:none;
}

#menu{
	position:absolute;
	top:0px;
}

ul#menu li{
	background-color:rgb(228, 238, 243);
	position:relative;
	float:left;
	text-align:center;
	width:185px;
	margin-right:4px;
	margin-top:4px;
}

.submenu1{
	position:absolute;
	display:none;
}

ul#menu li:hover .submenu1{
	display:block;
}

.llenado{
	//display:none;
}

.preview{
 display:none;
}

#clasM{
 display:none;
}

#query{
	display:none;
}

.displayElements{
	
}

.displayElements tr td{
	width:1%;
}

#cnt{
	margin-top:52px;
}

/*---PREVIEW STYLING---*/

.blockForm{
	opacity:0.5;
	position:absolute;
	top:0px;
	left:0px;
	background-color:white;
	width:100%;
	height:100%;
}

.showPrev{
	background-color: rgb(147, 208, 236);
	width:70%;
	position:absolute;
	left:15%;
	top:20px;
	overflow:auto;
	padding:20px;
	height:90%;
	text-align:center;
}
